.tabs {
  display: flex;
  border-radius: 6px;

  &_btn {
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    height: 50px;
    background-color: #ffffff;
    cursor: pointer;
  }
  &_btn:nth-child(2) {
    border: 1px solid #dfe5ec;
    border-radius: 0px 5px 5px 0px;
  }
  &_btn:nth-child(1) {
    border: 1px solid #dfe5ec;
    border-radius: 5px 0px 0px 5px;
  }
  &_btn__active {
    color: #ffffff;
    background-color: #2196f3;
  }
}
